<div class= "address-card">
  <h1 class = "name">{{user.name}}</h1>
  <h2>{{user.organisation}}</h2>
  <h2>{{user.mainsector}}</h2>
  <h3>{{user.secondsector}}</h3>
   <p class="title">{{user.title}}</p>

<button (click)="toggleCollapse()">Expand/Collapse</button>
<div *ngIf="!isCollapsed">
   <p class= "address"> {{user.address}}</p>
  <div *ngIf="user.cell.length">
    <p class="cell">Cell:</p>
    <p class="cell" *ngFor="let phoneNumber of user.cell">{{phoneNumber}}</p>
  </div>
</div>

</div>
